/* pocetak nav bar */
/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: cursive;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-image: linear-gradient(to bottom right, black, #1E2852);
    color: #fff;
}
.nav-links a {
    color: #fff;
}
/* LOGO */
.logo {

}
/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    background-color: #1E2852;
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    padding: 2px 14px;
}
/* DROPDOWN MENU */
.buy-game {
    position: relative;
    background: orangered;
    color: #182141;
    transition: right 0.25s ease-in-out;
}
.buy-game:focus-within .dropdown{
    opacity: 1;
    display: block;
}

.dropdown {
    background-image: linear-gradient(to bottom right, #1E2852, black);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 25px;
    right: 0px;
    z-index: 1;
}
.dropdown li + li {
    margin-top: 10px;
}
.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
.dropdown li:hover {
    background-color: #1E2852;
}
.buy-game:hover .dropdown {
    display: block;

}
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
}
/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 960px) {
    .menu {
        display:none;
        position: absolute;
        background-color:#182141;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        z-index: 5;
    }
    .menu li:hover {
        display: inline-block;
        background-color:#1E2852;
        transition: 0.3s ease;
    }
    .menu li + li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu{
        display: block;
    }
    .hamburger {
        display: block;
    }
    .buy-game:hover .dropdown {
        display: block;

    }
    .dropdown {
        left: 40%;
        top: 20px;
        transform: translateX(35%);
        right: 0px;
        z-index: 10;
    }
    .dropdown li:hover {
        background-color: #1E2852;
    }
}
/* kraj nav bar */

/*footer*/
.footer-basic {
    padding:40px 0;
    background-image: linear-gradient(to bottom right, #1E2852, black);
    color: white;
    position: relative;
}

.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}

.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}
.footer-basic .platform > img {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}
.footer-basic .platform {
    text-align:center;
    padding-bottom:15px;
}
.footer-basic .simbol {
    width: 6%;
    height: 6%;
}
.footer-basic .social > a:hover {
    opacity:0.9;
}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}

/* zavrsetak footer*/
@font-face {
    font-family: ethno;
    src: url('../media/ethnocentric_rg.otf');
}
body{
    background-image: linear-gradient(to bottom right, #1E2852, black);
    color: white;
}
.glavno{
    width: 80%;
    left: 10%;
    height: 100%;
    position: relative;
}

* {
    box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=button] {
    background-color: lightskyblue;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 0 orange;
    margin-bottom: 1%;
}

input[type=button]:hover {
    background-color: orange;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

#text{
    color: red;
    font-size: medium;
}